<h1><%= t('resources.actions.index', resource: t('activerecord.models.user')) %></h1>

<table>
  <thead>
    <tr>
      <th><%= User.human_attribute_name(:email) %></th>
      <th><%= User.human_attribute_name(:postal_code) %></th>
      <th><%= User.human_attribute_name(:address) %></th>
      <th><%= User.human_attribute_name(:introduction) %></th>
      <th><%= t("attributes.user.profile") %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.postal_code %></td>
        <td><%= user.address %></td>
        <td><%= user.introduction %></td>
        <td><%= link_to t("attributes.user.show"), user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
