<h1><%= t('resources.actions.show', resource: t('activerecord.models.user')) %></h1>

<p><%= t("attributes.user.email") %>: <%= @user.email %></p>
<p><%= t("attributes.user.postal_code") %>: <%= @user.postal_code %></p>
<p><%= t("attributes.user.address") %>: <%= @user.address %></p>
<p><%= t("attributes.user.introduction") %>: <%= @user.introduction %></p>

<%= link_to t("actions.edit"), edit_user_registration_path %>
