<h1>ユーザー詳細</h1>

<p>Email: <%= @user.email %></p>
<p>郵便番号: <%= @user.postal_code %></p>
<p>住所: <%= @user.address %></p>
<p>自己紹介: <%= @user.introduction %></p>

<%= link_to '編集', edit_user_registration_path %>
